@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
	height: 100%;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333333;
	background: #F4F3EF;
  outline: none;

	ul {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}
